body {
  background-color: #FCFEFF;
  margin: 10% 20%;
}

.header{
  background-color: #83B1D3;
  color:white;
  font-family:Geogia;
  padding-left: 20px;
  padding-bottom:1px;
  padding-top: 5px;
}
.contact{
  background-color: #83B1D3;
  color:white;
  font-family:Georgia;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top:1px;
}

.summary{
  border-top: 1px solid #83B1D3;
  border-bottom: 1px solid #83B1D3;
  color: gray;
  font-family: Georgia;
}
.edu{
  border-top: 1px solid #83B1D3;
  border-bottom: 1px solid #83B1D3;
  color: gray;
  font-family: Georgia;
  }

.work{
  border-top: 1px solid #83B1D3;
  border-bottom: 1px solid #83B1D3;
  color: gray;
  font-family:Georgia;
}
.ref{
  border-top: 1px solid #83B1D3;
  color: gray;
  font-family:Georgia;
}
