body {
  background-color: #FCFEFF;
  margin: 10% 20%;
}

.header{
  background-color: #83B1D3;
  padding-left: 20px;
}

.contact{
  border-bottom: 1px solid #83B1D3;
}
.summary{
  border-top: 1px solid #83B1D3;
  border-bottom: 1px solid #83B1D3;
}
.edu{
  border-top: 1px solid #83B1D3;
  border-bottom: 1px solid #83B1D3;
}
.work{
  border-top: 1px solid #83B1D3;
  border-bottom: 1px solid #83B1D3;
}
.ref{
  border-top: 1px solid #83B1D3;
}
h1{
  color: #FCFEFF;
  font-size: 35px;
  font-family: Georgia;
}
h2{
  color:#83B1D3;
  font-family: Georgia;
}

h3{
  color: gray;
  font-family: Georgia;
}

h4{
  color: gray;
  font-family: Georgia;
}

h5{
  color: gray;
  font-family: Georgia;
}

li{
  color: gray;
  font-family: Georgia;
}
