*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  color: #222;
}

h1{
  font-size: 2rem;
  text-transform: uppercase;
}

h2{
  font-size: 1.25rem;
  text-transform: uppercase;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding: 1rem 0;
  margin-bottom: 2rem;
}

h3{
  font-size: 1.25 rem
}

p{
  line-height: 1.5;
}

section + section {
  margin-top: 2rem;
  
}

a{
  text-decoration: none;
  color: inherit;
}

.profile{
  text-align: center;
}

.profile img {
  border-radius: 9999px;
  width: 15rem;
  height: 15rem;
}

.profile p{
  color: #888;
  margin-bottom: 1rem;
  font-size: 1.25rem
}

.contact ul{
  text-align: right;
  text-transform: uppercase;
  
}

